*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 90vh;
}
.container1{
    /* color: green; */
    background-color: green;
}
#player1{
    display: flex;
    justify-content: center;
}
#player2{
    display: flex;
    justify-content: center;
}
.images img{
    height: 10%;
    width: 10%;
    margin: auto;
    padding: 10%;
}

.cntdown{
    justify-content: center;
    align-items: center;
    font-size: 300%;
}